includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: 8
    tmpDir: .cache/phpstan
    scanFiles:
      - _ide_helper.php
    paths:
        - app
        - tests
        - modules
        - vendor/laravel/framework/src/Illuminate/Support/Facades/Mail.php
